<!DOCTYPE html>
<html>
<head>
</head>
<body>
<table style="table-layout: fixed; border-collapse:collapse;border: 1px solid black; text-align: center; width: 800px">
    <thead>
    <tr>
        <th style="word-wrap: break-word; width: 100px; border: 1px solid black; padding: 5px;">Story</th>
        <th style="word-wrap: break-word; width: 400px; border: 1px solid black; padding: 5px;">Description</th>
        <th style="word-wrap: break-word; width: 140px; border: 1px solid black; padding: 5px;">Status</th>
        <th style="word-wrap: break-word; width: 100px; border: 1px solid black; padding: 5px;">Contributors</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td style="border: 1px solid black;">{{ item.story_id }}</td>
            <td style="border: 1px solid black;">{{ item.description }}</td>
            <td style="border: 1px solid black;">{{ item.status }}</td>
            <td style="border: 1px solid black;">{{ item.get_contributors|join:", " }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>